@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'fonteLogo';
    src: url('../_fonts/bubblegum-sans-regular.otf');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    color: rgba(0, 0, 0, 1);
}

p {
    text-align: justify;
    text-indent: 30px;
}

a {
    text-decoration: none ;
    color: #606060;
}

a:hover {
    text-decoration: underline;
}
#icone {
    position: absolute;
    right: 130px;
    top: 80px;
}

#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url('../_imagens/glass-logo-peq.jpg') no-repeat 0px 90px;
}

#cabecalho h1 {
    font-family: 'fonteLogo', Helvetica, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888;
    padding: 0px;
    margin-top: 0px;
}
/* Formatação de imagens com legendas */

.foto-legenda {
    border: solid 5px white;
    box-shadow: 2px 2px 4px black;
    position: relative;
}

.foto-legenda img {
    height: 100%;
    width: 100%;
}

.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figcaption:hover{
    opacity: 1;    
}

/* Formatação menu */

.navegacao ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    right: 155px;
}

.navegacao li {
    display: inline-block;
    padding: 10px;
    background-color: #ddd;
    margin: 2px;
    border-radius: 5px;
    transition: background-color 1s;
}

.navegacao {
    display: block;
}
.navegacao a{
    text-decoration: none;
    color: black;
}

.navegacao h1 {
    display: none;
}

.navegacao li:hover{
    background-color: #444;
    color: white;
}

.navegacao a:hover{
    color: white;
}

#interface {
    width: 1000px;
    padding: 20px;
    background-color: #fff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.664);
}

#corpo {
    display: block;
    width: 550px;
    float: left;
    padding-right: 25px;
    border-right: solid 1px #606060;
}

#noticia-principal h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #ddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

#cabecalho-artigo h1 {
    font-family: 'fonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px; 
}

#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #97a797;
    background-color: white;
}

#cabecalho-artigo h3 {
    font-size: 12pt;
    color: #606060;
}

.direita {
    text-align: right;
}

#tabela {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin: auto;
}

#tabela td {
    border: solid 1px #606060;
    padding: 10px;
    text-align: center;
}

#tabela caption {
    color: #888;
    font-size: 13pt;
    font-weight: bold;
}

#tabela span {
    display: block;
    float: right;
    color: black;
    font-size: 9pt;
    margin-top: 13px;
    
}

.ce {
    color: white;
    background-color: #606060;
    font-weight: bold;
    vertical-align: top;
}

.cd {
    background-color: rgba(136, 136, 136, 0.39);
}

#lateral {
    display: block;
    width: 400px;
    float: right;
}

#rodape {
    clear: both;
    border-top: solid 1px #606060;
    text-align: center;
    padding-top: 15px;
}

